* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 90px;
  background: #F5C688;
  padding: 0 12px;
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;


}

.navbar .logo {
  background-image: url(./Images/Adidas_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 84px;
  position: relative;
  left: -53rem;
  top: 0.5rem;
}

.home {
  width: 100%;
  height: 89vh;
}

.home h1 {
  position: absolute;
  top: 12rem;
  left: 7rem;
  font-size: 80px;
}

.home hh {
  position: absolute;
  top: 27rem;
  left: 7rem;
  font-size: 20px;
  font-weight: bold;
}

.home .btn1 {
  width: 200px;
  height: 66px;
  position: absolute;
  top: 35rem;
  left: 7rem;
  background: black;
  color: #EBB36E;
  font-size: 20px;
}

.about {
  width: 100%;
  height: 89vh;
  background: #F5C688;
}

.activ {
  background: white;
  color: black;
  padding: 8px 12px;
  /* border-radius:0 0 25px 25px; */
  box-shadow: 0 -1px 15px silver;
  text-decoration: none;
}

.list {
  position: absolute;
  top: 20rem;
  left: 68rem;
  font-weight: bold;
}

.list .btn2 {
  width: 200px;
  height: 66px;
  position: absolute;
  background: black;
  color: #EBB36E;
  font-size: 20px;
}

.features {
  width: 100%;
  height: 89vh;
}

.colors {
  width: 100%;
  height: 89vh;

}

.colors img {
  margin: 10px;
  width: 359px;
  height: 308px;

}

.features .wrapper {
  position: absolute;
  top: 18rem;
  font-weight: bold;
  line-height: 50px;
  font-size: 20px;
  list-style: none;
  left: 6rem;
}



/* error */
#oopss {
  background: linear-gradient(-45deg, #fff300, #efe400);
  position: relative;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 9999;
}

#oopss #error-text {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Shabnam', Tahoma, sans-serif;
  color: #000;
  direction: rtl;
}

#oopss #error-text img {
  margin: 85px auto 20px;
  height: 324px;
}

#oopss #error-text span {
  position: relative;
  font-size: 3.3em;
  font-weight: 900;
  margin-bottom: 50px;
}

#oopss #error-text p.p-a {
  font-size: 19px;
  margin: 30px 0 15px 0;
}

#oopss #error-text p.p-b {
  font-size: 15px;
}

#oopss #error-text .back {
  background: #fff;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  margin: 2em auto 0;
  padding: .7em 2em;
  border-radius: 500px;
  box-shadow: 0 20px 70px 4px rgba(0, 0, 0, 0.1), inset 7px 33px 0 0px #fff300;
  font-weight: 900;
  transition: all 300ms ease;
}

#oopss #error-text .back:hover {
  -webkit-transform: translateY(-13px);
  transform: translateY(-13px);
  box-shadow: 0 35px 90px 4px rgba(0, 0, 0, 0.3), inset 0px 0 0 3px #000;
}

@font-face {
  font-family: Shabnam;
  src: url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.eot");
  src: url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.woff") format("woff"), url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.woff2") format("woff2"), url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.eot");
  src: url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.eot?#iefix") format("embedded-opentype"), url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.woff") format("woff"), url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.woff2") format("woff2"), url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.ttf") format("truetype");
  font-weight: normal;
}

/* error :end */